/*--------GENERICS--------*/

*{
    font-family: "Edu TAS Beginner", cursive;
}
body {
    background-image: url(../assets/img/cork.png);
}

img {
    max-width: 100%;
}

/*--------UTILIYY--------*/


/*--------HEADER--------*/
header {
    font-family: "Edu TAS Beginner", cursive;
    font-size: 80%;
    font-weight: 700;
    font-style: normal;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img/wall.png);
    }


/*--------MAIN--------*/

.card-pin {
    position: absolute;
    top: -3%;
    left: 50%;
    translate:-50% 3%;
}